<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Create Product</title>
    </head>
    <body>
        <div layout:fragment="content" class="row" style="padding-top:60px">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/users" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Users</a>
                </h3>
                <h2>Show User</h2>
                
                    <div class="form-group">
                        <label for="firstName">Firstname:</label>
                        <input type="text" class="form-control"  readonly="readonly" th:value="${user.firstName}"></input>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Lastname:</label>
                        <input class="form-control" name="lastName" readonly="readonly" th:value="${user.lastName}"></input>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" name="email" readonly="readonly" th:value="${user.email}"></input>
                    </div>
                    
                    <div class="form-group">
                        <label for="type">Type:</label>
                        <input class="form-control" name="type" readonly="readonly" th:value="${user.type}"></input>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="mobileNumber">Mobile Number:</label>
                        <input class="form-control" name="mobileNumber" readonly="readonly" th:value="${user.mobileNumber}"></input>
                    </div>
                    
                    <div class="form-group">
                        <label for="rol">Rol:</label>
                        <input class="form-control" name="rol" readonly="readonly" th:value="${user.rol}"></input>
                    </div>
                    
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input class="form-control" name="description" readonly="readonly" th:value="${user.description}"></input>
                    </div>
                    
                   
                   
                    <form action="/deleteUser">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <h2><input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure?');" />
                    <a th:href="@{'/editUser/' + ${user.id}}" class="btn btn-warning">Edit</a></h2>
                </form>
              
            </div>
        </div>
    </body>
</html>