<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>
<title>User List</title>
</head>
<body>
	<div layout:fragment="content" class="row">
		<div class="col-xs-8 col-md-8" style="padding-top:60px">
			<h3>
				<a href="/createUser" class="btn btn-primary"><span
					class="glyphicon glyphicon-plus-sign"></span> User</a>
			</h3>
			<h2>User List</h2>
			<div class="table-responsive">
				<table class="table" id="product-table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Firstname</th>
							<th>Lastname</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${usersList}">
							<td><a th:text="${user.id}"
								th:href="@{'/users/' + ${user.id}}"></a></td>
							<td th:text="${user.firstName}"></td>
							<td th:text="${user.lastName}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
